.product {

	&__title {
		font-family: $jumper;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		display: block;
		margin-bottom: 4px;

		@media screen and (max-width: $mobile) {
			font-size: 13px;
			line-height: 16px;
		}
	}
	
	&__price {
		font-weight: 300;
		font-size: 16px;
		line-height: 16px;
		color: #353535;

		@media screen and (max-width: $mobile) {
			font-size: 12px;
			line-height: 12px;
		}
	}

	&__image {
		width: 100%;
		aspect-ratio: 1 / 0.98;
		margin-bottom: 30px;
		object-fit: cover;

		@media screen and (max-width: $mobile) {
			margin-bottom: 25px;
		}
	}
}