.products-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	&__title {
		margin-bottom: 66px;

		@media screen and (max-width: $mobile) {
			margin-bottom: 24px;
		}
	}
	
	&__button {
		margin-top: 58px;

		@media screen and (max-width: $mobile) {
			margin-top: 30px;
		}
	}
}

.products {
	width: 100%;
	
	@media screen and (max-width: $m-tablet) {
		overflow-y: scroll;
		margin-right: calc(-50vw + 330px);
		margin-left: calc(-50vw + 330px);

		&::-webkit-scrollbar { width: 0; }
	}

	@media screen and (max-width: $mobile) {
		margin-right: -16px;
		margin-left: -16px;
	}
	
	&__wrapper {
		display: flex;
		margin: -30px;
		flex-wrap: wrap;
		
		@media screen and (max-width: $m-tablet) {
			flex-wrap: nowrap;
			margin: 0;
		}
	}
	
	.product {
		width: calc(33.3% - 60px);
		margin: 30px;

		@media screen and (max-width: $m-tablet) {
			min-width: 70vw;
			margin: 0 30px 0 0;
		}
	}
}